<nav class="fixed top-0 w-full z-50">
  <ul
    class="flex px-5 w-full border text-emerald-50 py-2 justify-between bg-emerald-600 items-center shadow shadow-emerald-800"
  >
    <li class="flex gap-3 items-center">
      <img src="/rates.svg" alt="" class="size-10" />
      <h1 class="font-semibold text-xl">My Notes</h1>
    </li>
    <li class="items-center">Welcome</li>
  </ul>
</nav>
<section class="mt-14 flex">
  <nav
    class="w-3xs min-w-3xs sticky top-14 h-[calc(100vh-4rem)] bg-emerald-600 text-emerald-50 py-5"
  >
    <app-side-bar></app-side-bar>
  </nav>
  <main class="p-5">
    test<br />

    test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />
    test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />
    test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />
  </main>
</section>
